  :root {
            --primary-color: #ffffff;
            --secondary-color: #000000;
            --background-dark: #1a1a1a;
            --text-light: #fff;
            --white: #fff;
            --black: #000;
        }
        html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Manrope', sans-serif;
            background-color: #e9e9e9;
            color: var(--text-light);
            overflow-x: hidden;
        }
